@font-face {
    font-family: code;
    src: url("../assets/JetBrainsMono-Regular.ttf");
}

@keyframes fade-in {

    from{ opacity: 0; }
    to{ opacity: 100%; }

}

body{

    font-family: code, serif;
    color: #A4C15F;
    background-color: #2B2B2B;
    overflow-x: hidden;

}

.header-main, article header{

    margin: 20px auto;

}

section .subheader{

    padding-left: 0;

}

ul.navbar-nav a:hover { color: #A4C15F !important; }

.nav-item{ 

    margin-left: 20px;

}

.text-center{

    text-align: center;

}

article{

    margin-bottom: 40px;

}

.about-wrapper{

    display: flex;
    flex-direction: horizontal;
    gap: 40px;

}

.about-content{

    flex-grow: 1;

}

#who-am-i header{

    margin-top: 0;

}

#page-nav{

    background-color: #3C3F41;
    box-shadow: gray 0 1px 2px;
    margin-bottom: 20px;
    animation-name: fade-in;
    animation-duration: 5s;

}

#page-nav *{

    color: white;

}

.nav-link:hover{

    color: #A4C15F;

}

h1, h2{

    color: #E8BF6A;

}

h3{

    color: white;

}

h3{

    font-size: 1.25em;
    text-align: left;

}

header{

    text-align: center;

}

.image-wrapper img{

    width: 100%;
    height: 100%;
    max-height: 300px;
    border-radius: 5px;

}

#me{
    width: 377px;
}

#about-content{

    max-height: 300px;
    overflow-y: scroll;

}

.carousel-inner{

    height: 500px;

}

.carousel-item.active{

    display: flex;
    align-items: center;
    justify-content: center;

}

.carousel-item img[data-bs-target]{

    object-fit: cover;
    border-radius: 100%;
    box-shadow: black -10px 15px 8px;
    border: 1px dotted rgba(119,136,153, 0.5);
    transition: all 300ms;
    max-width: 85%;

}

.carousel-item:active img[data-bs-target]{

    box-shadow: black -2px 3px 2px;

}

.carousel-item img#kotlin, .carousel-item img#typescript{

    border-radius: 0%;

}

.carousel-item img#java{

    border-radius: 25%;

}

#languages-carousel{

    padding-top: 50px;
    margin-bottom: -50px;


}

.subheader{

    padding: 10px 12px;

}

footer{

    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: 2px solid white;
    padding: 20px;
    margin-top: 50px;

}

#attributions{

    text-align: center;


}

.link{

    color: steelblue;
    text-decoration: none;

}

.link:hover{

    color: #E8BF6A;
    text-decoration: none;

}

@media screen and (max-width: 830px){

    .image-wrapper{

        margin-bottom: 30px;

    }

}

.point-indicator {
    position: absolute;
    bottom: 60px;
    right: 0;
    left: 47%;
    z-index: 20000;
}

@media screen and (max-width: 400px){

    .point-indicator {
        bottom: 150px;
    }

}

.blink {
    animation: blink-animation 750ms steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
        border-color: white;
    }
}

.project-hero, .project-hero image{

    width: 100%;
    height: 100%;

}

.project-hero{

    border: 2px solid gray;

}