@font-face {

    font-family: code;
    src: url("./assets/fonts/JetBrainsMono-Regular.ttf");

}

@keyframes neon-color-fade {

    0%{
        color: #0496ff;
        text-shadow: white 1px 1px 1px;
    }

    50%{
        color: #ff9914;
        text-shadow: white 1px 1px 1px;
    }

    100%{
        color: #0496ff;
        text-shadow: white 1px 1px 1px;
    }

}

:root {

    font-family: code, sans-serif;
    text-align: center;
    overflow-x: hidden;
    color: black;

}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

main {

    font-family: code, sans-serif;
    width: 100vw;
    z-index: 99;
    position: absolute;
    margin: 0 auto;
    padding: 20px 0;

}

#title-header {

    display: flex;
    justify-content: center;
    font-size: 3rem;
    animation-iteration-count: infinite;
    animation-name: neon-color-fade;
    animation-duration: 4s;
    margin: 0 auto 40px auto;
    opacity: 0.8;

}

.content-section {

    background-color: #EFF7FF;
    width: 80vw;
    padding: 20px;
    display: block;
    margin: 0 auto;

}

.content-section * {

    margin: 0;

}

.content-section header{

    margin-bottom: 10px;

}

#page-nav {

    position: fixed;
    z-index: 100;
    height: 30px;
    margin: 0;
    top: 0;
    left: 0;
    padding: 10px;
    display: flex;

}

#page-nav ul {

    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-content: center;
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;

}

#page-nav ul li {

    height: 100%;
    line-height: 1.8;

}

.nav-link, .nav-link:visited {

    text-decoration: none;
    color: white;

}

.content-pane {

    background-color: #EFF7FF;
    opacity: 0.6;
    box-shadow: white 1px 1px 1px;

}
