@font-face {

    font-family: code;
    src: url("./assets/fonts/JetBrainsMono-Regular.ttf");

}

@keyframes neon-color-fade {

    0%{
        color: #0496ff;
        text-shadow: white 1px 1px 1px;
    }

    50%{
        color: #ff9914;
        text-shadow: white 1px 1px 1px;
    }

    100%{
        color: #0496ff;
        text-shadow: white 1px 1px 1px;
    }

}

:root {

    font-family: code, sans-serif;
    text-align: center;
    overflow-x: hidden;
    color: black;

}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

main {

    font-family: code, sans-serif;
    width: 100vw;
    z-index: 99;
    position: absolute;
    margin: 0 auto;
    padding: 40px 0;

}

#title-header {

    display: flex;
    justify-content: center;
    animation-iteration-count: infinite;
    animation-name: neon-color-fade;
    animation-duration: 4s;
    margin: 0 auto 60px auto;
    opacity: 0.8;

}

#title-header h1 {

    font-size: 6rem;

}

.content-section {

    width: 80vw;
    padding: 20px;
    display: block;
    margin: 0 auto 50px;

}

.content-pane {

    background-color: #EFF7FF;
    box-shadow: white 1px 1px 1px;
    opacity: 0.6;

}

.content-section * {

    margin: 0;

}

.content-section header{

    margin-bottom: 10px;

}

#page-nav {

    position: fixed;
    z-index: 100;
    height: 30px;
    margin: 0;
    top: 0;
    left: 0;
    padding: 10px;
    display: flex;

}

#page-nav ul {

    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-content: center;
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;

}

#page-nav ul li {

    height: 100%;
    line-height: 1.8;

}

.nav-link, .nav-link:visited, .nav-link:focus {

    text-decoration: none;
    color: white;

}

.nav-link:hover {

    color: gray;

}

.img-frame img {

    object-fit: cover;
    width: 100%;
    object-position: 0 0;
    max-height: 900px;
    vertical-align: middle;

}

#project-header {

    margin-bottom: 50px;

}

#project-header h1 {

    font-size: 6rem;
    color: white;
    text-shadow: gray 2px 1px 1px;

}

#projects-row {

    width: 80vw;
    margin: 0 auto;

}

.img-frame {

    white-space: nowrap;

}

.img-align-helper {

    display: inline-block;
    height: 100%;
    vertical-align: middle;

}
