@font-face {

    font-family: code;
    src: url("./assets/fonts/JetBrainsMono-Regular.ttf");

}

@keyframes neon-color-fade {

    0%{
        color: #0496ff;
        text-shadow: gray 2px 2px 2px;
    }

    50%{
        color: #ff9914;
        text-shadow: gray 2px 2px 2px;
    }

    100%{
        color: #0496ff;
        text-shadow: gray 2px 2px 2px;
    }

}

:root {

    font-family: code, sans-serif;
    text-align: center;
    overflow-x: hidden;
    color: black;

}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

main {

    font-family: code, sans-serif;
    width: 100vw;
    z-index: 99;
    position: absolute;
    margin: 0 auto;
    padding: 120px 0;

}

#title-header {

    display: flex;
    justify-content: center;
    font-size: 3rem;
    animation-iteration-count: infinite;
    animation-name: neon-color-fade;
    animation-duration: 4s;
    margin: 0 auto 40px auto;

}

#page-nav {



}

.content-section {

    background-color: white;
    width: 80vw;
    padding: 20px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;

}

.content-section * {

    margin: 0;

}

.content-section header{

    margin-bottom: 10px;

}
